<link rel="stylesheet" href="{{ url_for('static', filename='css/includes/header.css') }}">
<header>
    <div class="container">

        <div class="header__inner">
            <div class="part">
                <!-- 
                <div class="burger_menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                -->
                <a class="logo" href="#"><span>ASB</span> NEWS</a>
            </div>
            <form method="get" action="/search" class="search">
                <button>Search</button>
                <input name="q" type="search" placeholder="Search...">
            </form>
            <div style="text-align: right;">
                {% if 'email' in session %}
                    {% if session['email']=='admin@email.com' %}
                        <a href="/admin" class="header-option">Admin</a> |
                    {# 
                    {% else %}    
                        <a href="#" class="header-option">#</a> 
                    #}
                    {% endif %}
                    <a href="/logout" class="header-option">Logout</a>
                {% else %}
                    <a href="/login" class="header-option">Login</a> | <a href="/register" class="header-option">Register</a>
                {% endif %}
            </div>
        </div>

    </div>
</header>
<div class="header"></div>
<script>
    let header = document.querySelector('header'),
        divHeader = document.querySelector('.header');
    divHeader.style.height = (header.offsetHeight) +"px";
</script>
